@import "./global.css";

.card {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  background-color: var(--question-card-color);
}
.card #card__bookmark {
  display: flex;
  flex-direction: row;
}
.card #bookmark_checkbox {
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
  bottom: 35px;
}

.card button {
  padding: 35px;
  border-radius: 15px;
  background-color: var(--buttons-color);
  font-size: 25px;
  color: var(--font-color-buttons);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card .card__tags__container {
  display: flex;
  gap: 10px;
  padding-right: 250px;
}

.card .card__tags__container a {
  background-color: lightslategrey;
  border-radius: 5px;
  color: var(--font-color-buttons);
  padding: 5px;
  flex-wrap: wrap;
  align-content: start;
}
