@import "./global.css";
@import "./card.css";

main {
  margin-left: 60px;
  margin-right: 60px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 35px;
  margin-top: 20px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
}

.tag {
  margin-top: 20px;
  height: 60px;
}

.button__form__submit {
  margin-top: 20px;
  width: 150px;
  height: 60px;
  font-size: 25px;
  border-radius: 12px;
  background-color: var(--buttons-color);
  color: var(--font-color-buttons);
}

.card {
  margin-left: 60px;
  margin-right: 60px;
}
