@import "./global.css";

/*profile styles*/

.profile_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  font-size: 25px;
}
.profile_photo img {
  width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

#about_me {
  text-align: right;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 2em;
  font-size: 25px;
}
#counter_container {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}
.counter_item {
  border: 2px solid black;
  border-radius: 12px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.counter_item img {
  width: 32px;
}
#dark-mode-change {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 27px;
}

/*dark mode slider*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
