@import "./global.css";

header {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e8f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: sticky;
  letter-spacing: 10px;
  top: 0;
  z-index: 100;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
}

.question_card {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  background-color: whitesmoke;
}
#bookmark_checkbox_container {
  display: flex;
  flex-direction: row;
}
#bookmark_checkbox {
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
  bottom: 35px;
}

button {
  padding: 35px;
  border-radius: 15px;
  background-color: fuchsia;
  font-size: 25px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.tags_container {
  display: flex;
  gap: 10px;
  padding-right: 250px;
}

.tags_container a {
  background-color: lightslategrey;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px;
  flex-wrap: wrap;
  align-content: start;
}
footer {
  height: 120px;
  position: sticky;
  bottom: 0;
  background-color: #d0e8f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .icon {
  width: 60px;
  height: 60px;
}

/*profile styles*/
.profile_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.profile_photo img {
  width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

#about_me {
  text-align: justify;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 2em;
}
#counter_container {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}
.counter_item {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
}
